<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>commonCellBeans</key>
		<array>
            <dict>
                <key>icon</key>
                <string>icon_xls</string>
                <key>intro</key>
                <string>1.2MB 诸葛宁远 2015-11-31</string>
                <key>name</key>
                <string>11月份财务报表.xls</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_rar</string>
                <key>intro</key>
                <string>300MB 诸葛宁远 2015-11-25</string>
                <key>name</key>
                <string>鼓山游part1.rar</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_rar</string>
                <key>intro</key>
                <string>300MB 诸葛宁远 2015-11-25</string>
                <key>name</key>
                <string>鼓山游part2.rar</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_rar</string>
                <key>intro</key>
                <string>258MB 诸葛宁远 2015-11-25</string>
                <key>name</key>
                <string>鼓山游part3.rar</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_ppt</string>
                <key>intro</key>
                <string>2.3MB 魏启亮 2015-11-25</string>
                <key>name</key>
                <string>鼓山游.ppt</string>
                <key>vip</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_png</string>
                <key>intro</key>
                <string>578KB 李广宏 2015-11-24</string>
                <key>name</key>
                <string>鼓山顶合照.png</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_jpg</string>
                <key>intro</key>
                <string>300KB 周凤山 2015-11-24</string>
                <key>name</key>
                <string>鼓山美景.jpg</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_mpg</string>
                <key>intro</key>
                <string>200MB 李思明 2015-11-24</string>
                <key>name</key>
                <string>鼓山游.mpg</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_doc</string>
                <key>intro</key>
                <string>1MB 朱平 2015-11-23</string>
                <key>name</key>
                <string>鼓山游具体事项安排.doc</string>
                <key>vip</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_png</string>
                <key>intro</key>
                <string>256KB 林丽 2015-11-23</string>
                <key>name</key>
                <string>美美哒自拍照.png</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_txt</string>
                <key>intro</key>
                <string>500KB 王明敏 2015-11-20</string>
                <key>name</key>
                <string>鼓山游公告.txt</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_avi</string>
                <key>intro</key>
                <string>241MB 黄先明 2015-11-20</string>
                <key>name</key>
                <string>个人简介.avi</string>
                <key>vip</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_mp3</string>
                <key>intro</key>
                <string>2.3MB 魏启亮 2015-11-15</string>
                <key>name</key>
                <string>我的歌声里.mp3</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_mp3</string>
                <key>intro</key>
                <string>1.5MB 诸葛宁远 2015-11-10</string>
                <key>name</key>
                <string>夜空中最亮的星.mp3</string>
                <key>vip</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_mp3</string>
                <key>intro</key>
                <string>1.7MB 李思明 2015-11-11</string>
                <key>name</key>
                <string>单身情歌.mp3</string>
                <key>vip</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_wma</string>
                <key>intro</key>
                <string>1.3MB 王明敏 2015-11-6</string>
                <key>name</key>
                <string>族内重要讲话.wma</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_zip</string>
                <key>intro</key>
                <string>300MB 王明敏 2015-11-1</string>
                <key>name</key>
                <string>族内重要资源part1.zip</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>icon</key>
                <string>icon_zip</string>
                <key>intro</key>
                <string>300MB 王明敏 2015-11-1</string>
                <key>name</key>
                <string>族内重要资源part2.zip</string>
                <key>vip</key>
                <integer>0</integer>
            </dict>
		</array>
		<key>name</key>
		<string>2015年11月</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
    <dict>
        <key>commonCellBeans</key>
        <array>
            <dict>
                <key>icon</key>
                <string>icon_doc</string>
                <key>intro</key>
                <string>1.0MB 王明敏 2015-10-5</string>
                <key>name</key>
                <string>族内发帖规则详细说明.doc</string>
                <key>vip</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>name</key>
        <string>2015年10月</string>
        <key>online</key>
        <integer>3</integer>
    </dict>
</array>
</plist>
